
<section class="section__login">

    <div class="container">
        <app-header></app-header>
        <form class="login" action="">
            <label class="login__label" for="username">
                <span class="label__text">Usuário</span>
                <input class="label__input" type="text" id="username" name="username">
            </label>
            <label class="login__label" for="password">
                <span class="label__text">Senha</span>
                <input class="label__input" type="password" id="password" name="password">
            </label>
            <div class="wrapper__senha"><a class="senha" href="#">Esqueceu a senha?<br>Clique aqui</a></div>
            <button class="login__button" type="button">Login</button>



        </form>
    </div>
</section>