@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.section__login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 544px;
    margin: 0 auto;
}

.header {
    width: 100%;
    text-align: right;
    background-color: black;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 100px 0;

}

.login__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .label__text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    .label__input {
        width: 200px;
        height: 25px;
        padding: 5px;
        margin-top: 5px;
        background: #FCFCFC;
    }


}

.wrapper__senha {
    width: 100%;
    text-align: center;

    .senha {
        text-align: center;
    }
}

.login__button {
    width: 115px;
    height: 39px;
    padding: 10.111px 0px;
    background: #FDFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 44px;

}