<section>
    <h1 class="title"> Análise de Risco</h1>
    <div>
        <form>
            <label class="form__label" for="aplicacao">
                <span class="label__text">Aplicação</span>
                <select id="aplicacao" name="aplicacao" class="label__input">
                    <option value="" selected hidden>Selecione uma aplicação</option>
                    <option *ngFor="let aplicacao of aplicacoes" [value]="aplicacao.id">{{ aplicacao.name }}</option>
                </select>
            </label>
            <label class="form__label" for="descricao">
                <span class="label__text">Descrição</span>
                <input class="label__input" type="text" id="descricao" name="descricao" readonly>
            </label>
        </form>
    </div>
    <div class="wrapper__result">
        <h2>Resultado da Análise</h2>
        <div class="result">
           <table>
            <thead> 
            <tr> 
                <th> 
                    ID
                </th>
                <th> 
                    Nome
                </th>
                 <th> 
                    Risco
                </th>
                <th> 
                    Descrição
                </th>
            </tr>
               </thead>
               <tbody> 
                <tr> 
                    <td>
                        002
                    </td>
                    <td> 
                        João Costa
                    </td>
                    <td> 
                        001
                    </td>
                    <td> 
                        Possibilidade de alteração do Livro Fiscal após divulgação do mesmo, podendo gerar fraude contábil
                    </td>
                </tr>
               </tbody>
           </table> 
        </div>
    </div>
    <div class="content">
        <button class="content__button" type="button"> Gerar Análise </button>
        <button class="content__button" type="button"> Voltar </button>
    </div>
</section>