.analise-risco {
  .title {
    margin-bottom: 32px;
  }

  &__buttons {
    display: grid;
    grid-template-areas: 'confirm none exit';
    grid-template-columns: 170px 100px 170px;
    justify-content: center;
    margin-top: 32px;

    .button {
      &:nth-of-type(1) {
        grid-area: confirm;
      }

      &:nth-of-type(2) {
        grid-area: exit;
      }
    }
  }

  .container {
    padding: 32px;
    margin-top: 32px;
  }

  &__results {
    border: black;

    .results__title {
      color: hsl(0, 0%, 30%);
    }
  }
}
