@import 'src/assets/styles/variables.styles.scss';
@import 'src/assets/styles/buttons.styles.scss';
@import 'src/assets/styles/fonts.styles.scss';
@import 'src/assets/styles/inputs.styles.scss';
@import 'src/assets/styles/scroll.styles.scss';
@import 'src/assets/styles/table.styles.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $background;
}

a,
button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}
